In [1]:
import keras
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras import models
from keras.wrappers.scikit_learn import KerasRegressor
from keras.models import Sequential,model_from_json
from keras.layers import Dense, Dropout, LSTM, Activation
%matplotlib inline
from decimal import Decimal
import warnings
warnings.filterwarnings("ignore")
import pickle
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,Normalizer, MinMaxScaler
from sklearn.cross_validation import cross_val_score
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(2)
from sklearn.metrics import mean_absolute_error
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
import xgboost as xgb

Using TensorFlow backend.

In [2]:
df=pd.read_csv('C:\\Users\\lengada1\\NCSU\\DC_ten_skus.csv')
#df=pd.read_csv('./DC_ten_skus.csv')
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.weekday_name
day_dummy=pd.get_dummies(df.Day)
df=pd.concat([df,day_dummy],axis=1)
df.drop(['Day','Date'],inplace=True,axis=1)

y=df['Sales']

In [3]:
df.head()
df.shape

(942, 16)

In [4]:
X=df.drop(['id','DayOfWeek','Customers','Sales'],inplace=False,axis=1)
X.head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,0,10,2013,1,0,0,0,0,0,1,0
1,10,0,10,2013,1,0,0,0,0,0,0,1
2,10,0,8,2013,1,0,0,0,0,1,0,0
3,10,0,8,2013,1,1,0,0,0,0,0,0
4,10,0,1,2013,1,0,0,1,0,0,0,0

In [5]:
for obs in range(1,8):
    X["Sales_T"+str(obs)]=df['Sales'].shift(obs)

In [6]:
X['Mov_avg']=df['Sales'].rolling( window=7).mean().shift(1) 
y=y[7:]
X=X[7:]
y.reset_index(drop=True, inplace=True)
X.reset_index(drop=True, inplace=True)
X.head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Sales_T1,Sales_T2,Sales_T3,Sales_T4,Sales_T5,Sales_T6,Sales_T7,Mov_avg
0,10,10,1,2013,1,0,0,0,0,0,1,0,89391.0,0.0,43727.0,55606.0,52848.0,60436.0,0.0,43144.000000
1,10,10,1,2013,1,0,0,0,0,0,0,1,72552.0,89391.0,0.0,43727.0,55606.0,52848.0,60436.0,53508.571429
2,10,10,1,2013,1,0,0,0,0,1,0,0,64297.0,72552.0,89391.0,0.0,43727.0,55606.0,52848.0,54060.142857
3,10,10,1,2013,1,1,0,0,0,0,0,0,64112.0,64297.0,72552.0,89391.0,0.0,43727.0,55606.0,55669.285714
4,10,0,0,2013,1,0,0,1,0,0,0,0,65006.0,64112.0,64297.0,72552.0,89391.0,0.0,43727.0,57012.142857

In [7]:
std = preprocessing.StandardScaler().fit(X)
X = std.transform(X)
len(X)

935

In [8]:
cv=2

RF=RandomForestRegressor( n_estimators=1000,max_depth=10,max_features=14);
rf_models=[];
rf_models=(cross_val_score(RF,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0) )


GB=ensemble.GradientBoostingRegressor(n_estimators= 1000,max_depth= 8, max_features=14,
          learning_rate= 0.01, loss= 'ls');
gb_models=[];
gb_models=(cross_val_score(GB,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
   

XG=xgb.XGBRegressor(n_estimators= 900,learning_rate =0.01, max_depth=6,gamma=2)
xg_models=[]
xg_models=(cross_val_score(XG,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [9]:
def create_MLP():
    mlp=models.Sequential()
    mlp.add(Dense(20, input_dim=X.shape[1], activation='relu'))
    #mlp.add(Dense(20, activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))    
    mlp.add(Dense(1, activation='relu'))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP = KerasRegressor(build_fn=create_MLP,
                               epochs=300,
                               batch_size=20,
                               verbose=0)

mlp_models=[]
mlp_models=(cross_val_score(MLP,X,y,cv=cv).mean().round(0)  )

In [11]:
from sklearn.gaussian_process.kernels import RBF
from sklearn.gaussian_process.kernels import RationalQuadratic
from sklearn.gaussian_process.kernels import ExpSineSquared
from sklearn.gaussian_process.kernels import Matern
from sklearn.gaussian_process import GaussianProcessRegressor

kernels = [    
    1.0* RBF() + 
    1.0* RBF() *
    1.0* ExpSineSquared(periodicity=7.0,length_scale_bounds=(1,10),periodicity_bounds=(7, 7) )   
]

n_restarts_optimizer=10

GPR=GaussianProcessRegressor(kernel=kernels[0], n_restarts_optimizer=n_restarts_optimizer)  

gpr_models=[]
gpr_models=(cross_val_score(GPR,X,y,cv=cv, scoring='mean_absolute_error').mean().round(0))

In [12]:
#Summary
mae=-pd.DataFrame(np.column_stack((mlp_models,rf_models,gb_models,xg_models,gpr_models)) )
mae=mae.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG',4:"GPR"})
best=mae.idxmin(axis=1)
best.astype('category')
mae["Best"]=best
mae

       MLP      RF      GB      XG      GPR Best
0  29334.0  3306.0  3220.0  3208.0  51882.0   XG

In [13]:
#Same models as above, but configured here to predict over entire X (935 days)
def RF_final(X, y):
    tree=RF
    tree.fit(X,y)
    pred=tree.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'RF'})
    return (pred, tree)

def MLP_final(X,y):
    model = MLP
    model.fit(X,y)
    pred=model.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'MLP'})
    return (pred, model)

def GB_final(X,y):
    model = GB
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'GB'})
    return (pred, model)

def XG_final(X,y):
    model=XG
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'XG'})
    return (pred, model)

In [14]:
#Using aggregated SKU sales data, the best performing model is selected based on K-fold. 
#Then best model is used to predict full data set 

bm_dict={}
for sku in range(0,1):        
        if  mae["Best"][0]=="RF":
            bm_dict[sku]=RF_final(X,y);
                    
        elif mae["Best"][0]=="NN":
            bm_dict[sku]=MLP_final(X,y);
                                
        elif mae["Best"][0]=="GB":
            bm_dict[sku]=GB_final(X,y); 
                        
        elif mae["Best"][0]=="XG":
            bm_dict[sku]=XG_final(X,y);

In [15]:
# Create Phase 2 data set which is comprised of both aggregate SKU data and forecasts
dc_pred=pd.DataFrame(bm_dict[0][0])
# sku_pred=pd.read_csv('C:\\Users\\lengada1\\NCSU\\prediction_skus.csv')
sku_pred=pd.read_csv('./prediction_skus.csv')
sku_pred=sku_pred.iloc[:,1:]
X2=pd.concat([sku_pred,dc_pred,pd.DataFrame(X)],axis=1)
sku_pred

,1,2,3,4,5,6,7,8,9,10,Total
0,5717.818209,6301.653071,9865.725643,10153.291251,5602.367520,7176.216977,10341.561739,6505.311482,6286.657000,5714.657222,73665.260340
1,5510.298604,6512.066582,8556.524297,9330.420316,5765.830248,6921.244257,8090.852354,5673.728950,5216.300300,5539.029505,67116.295407
2,5079.047790,5460.737801,7735.243498,9324.782816,4944.436392,6314.656802,8066.825115,6234.547054,5395.656700,5616.178584,64172.112592
3,4855.066339,4907.510546,8600.125698,9873.201129,5069.712080,6927.614117,8099.700803,5206.362083,5717.865700,5606.811352,64863.969870
4,4848.817431,2609.258951,4299.631053,9935.107310,1835.048437,3765.943200,4538.281949,2510.754229,4943.071000,4541.323872,43827.237233
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.162793,0.000000,0.162793
6,4364.450817,4004.262165,5161.439033,7940.504973,3824.709259,5972.879755,6844.887051,4286.980709,4499.971700,4817.428118,51717.513560
7,4031.301953,3947.826898,5158.895142,7462.205307,3727.959016,5616.944218,6807.330886,4192.341320,4182.101000,4569.376346,49696.282161
8,3944.842050,4649.660839,5124.796593,7195.689326,3997.489338,5247.771443,6372.850673,3895.344289,3797.039300,4551.669918,48777.153776
9,3894.189293,3881.791308,5029.780984,7370.564596,3713.124132,5554.787497,6780.353349,4827.428066,4405.817400,4520.857199,49978.693807
10,4245.188187,3914.496199,5753.720775,7714.182408,4080.789181,5715.102832,7574.897096,3990.749414,5005.068000,4764.123412,52758.317376
11,4983.633181,2532.131341,4116.094082,9505.201476,1778.062763,3646.093786,4818.921211,2425.080131,5124.559000,4502.695003,43432.472054
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.150049,0.000000,0.150049
13,5744.192988,6577.690528,7323.494665,11638.913468,6713.288646,7280.665828,10721.421378,7750.308633,6929.214400,6657.925012,77337.115502
14,5223.222718,5930.723979,8106.196403,9930.915505,5657.912371,7011.165911,9260.975655,6376.083705,5254.322000,5405.284997,68156.803021
15,5362.314867,6181.119323,8337.048882,9310.429981,5723.656718,6988.189735,8047.107928,5940.518205,4965.305000,5270.986395,66126.677210
16,5163.339575,5152.720556,7665.836171,9095.553007,4884.909327,6215.657925,7918.644043,6436.209779,5071.051300,4981.103498,62585.025151
17,5257.620845,4781.019769,7538.104661,9534.606713,4964.245910,6586.677830,8398.576603,5148.807489,5544.236300,5377.504432,63131.400581
18,5379.716069,2459.275038,4088.689027,9704.708709,1711.137049,3568.620140,4415.173737,2419.843968,4992.390000,4662.733382,43402.287256
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.155192,0.000000,0.155192
20,4208.318142,3930.218580,5446.562407,8014.219914,3658.144368,5887.256261,6806.083194,4142.699459,4249.720000,4759.075375,51102.297916
21,3888.350691,3846.602754,5183.907182,7436.751298,3669.813283,5565.052033,6627.681069,4038.122900,4155.095000,4564.614294,48975.990720
22,4108.486962,4484.417434,5163.045673,7559.677321,3926.307934,5685.134009,6225.985349,3921.820116,4019.456800,4400.597774,49494.929360
23,4515.580422,4041.144875,5416.667457,8834.882136,4046.507613,5951.143558,6834.920104,5078.175921,4482.144000,4499.291151,53700.457281
24,5273.183988,4190.369657,6189.838469,9313.044036,4176.387447,6331.763843,8366.987540,4269.046174,5025.639600,4736.435904,57872.696707
25,5711.538596,2832.103219,4612.137004,10422.648988,1799.584141,3951.130302,5680.325548,2466.148751,5172.963400,4463.062521,47111.642450
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.154150,0.000000,0.154150
27,6906.761140,7134.246191,10929.090479,13571.475418,7298.005995,7995.748875,11304.371647,8116.772377,7467.718300,7523.753491,88247.943875
28,6097.723153,6251.397279,9665.616068,11371.915256,5685.897410,7163.679662,9967.504627,6986.286160,6320.436000,5686.595199,75197.050849
29,5936.196322,6573.185582,8697.226316,10430.999778,5646.041251,6959.841448,8315.717458,6040.836447,5635.206500,5353.215461,69588.466607
...,...,...,...,...,...,...,...,...,...,...,...
905,5213.389228,6035.497232,7902.289963,10766.941045,5617.949743,5380.294432,10822.738936,8741.049105,8589.568000,6677.128553,75746.846597
906,5014.941636,4886.428074,7988.196339,10946.982574,5277.449924,5175.286138,11382.761888,6928.788711,8426.717000,5984.225171,72011.777250
907,4685.789839,4120.382805,4410.733220,10041.923116,2067.371890,3076.216048,6953.899715,3766.389294,7389.545400,5283.045256,51795.296593
908,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.109324,0.000000,0.109324
909,4154.652278,4267.333932,6583.588947,9549.101372,4201.345590,4434.751308,10547.962700,6609.404624,7174.892000,5968.697339,63491.730179
910,3857.897641,4103.857473,6274.687520,8255.779199,3924.272999,4177.535324,9569.668532,5484.447680,6676.666000,5512.063899,57836.876281
911,3824.348997,5349.621996,5927.730414,8264.068984,4497.518631,4214.410605,8689.177902,5288.193240,5795.468300,5213.497878,57064.036909
912,3772.552890,4108.950937,6039.235329,8437.337135,4343.472950,4023.589826,9130.450870,5723.362419,6345.238000,5006.810095,56931.000244
913,3924.595310,4459.873069,6377.259414,9022.846871,4471.560799,4318.281577,9451.756835,5687.426422,5741.921400,5446.198215,58901.719897
914,4097.525466,2835.989755,4145.209935,10039.210983,2045.552030,3117.880892,6371.202761,3582.391384,6751.212400,4832.357916,47818.533525
915,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.165512,0.000000,0.165512
916,5324.903650,7330.428833,9599.505054,13243.130272,7616.076761,6735.486192,13563.049386,9226.678566,10658.346000,7090.862208,90388.466626
917,4992.422573,6269.335765,9091.569615,11481.103485,6135.664120,6087.241839,11890.357178,8292.151928,8298.011000,6744.458716,79282.315961
918,4899.171080,6614.322677,8387.929174,10864.947607,5994.740921,5053.072887,10397.356752,7908.693575,7180.874000,6433.046021,73734.154718
919,4479.264016,5320.681697,7859.467803,11059.489289,5316.122152,5073.856439,10183.213753,8451.363564,7870.579000,6144.978505,71759.016319
920,4586.322775,4782.608744,7360.707932,10792.118165,4994.822482,4938.491404,10843.655809,6967.373759,7771.017000,5878.499621,68915.617782
921,4446.348342,2934.398875,4038.903843,9906.893338,2012.750604,3030.731841,6663.896457,3839.242942,6816.067000,5316.732486,49005.965622
922,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.208285,0.000000,0.208285
923,3906.095211,4092.670546,5717.155088,9777.113586,3977.545251,4196.594408,9900.887575,5865.544546,7165.682000,5860.148945,60459.437286
924,3786.133486,4017.805717,5744.375256,8620.478162,3852.728501,4003.904757,9247.850161,5392.265065,6419.331000,5814.462640,56899.334799
925,3776.057640,5017.327983,5609.368631,8601.116822,4104.832942,3873.525437,8520.033795,5224.913094,5683.023000,5406.251321,55816.450614
926,3701.543351,4155.381621,5621.820537,8256.533655,3849.910591,3857.727704,8971.163264,5890.586562,6219.753400,5830.192415,56354.613117
927,3782.033448,4001.507758,5706.721259,8108.298185,4077.971237,3945.741744,9296.166432,5104.082701,5941.702600,5772.662940,55736.888340
928,4206.353433,2679.429521,4132.804131,9580.301873,2027.489989,2983.708094,6570.800437,3381.496860,6914.187000,5014.186982,47490.758332
929,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.167414,0.000000,0.167414
930,5777.072901,6950.855119,9053.594415,11887.306002,7348.909395,6058.022162,14462.460051,9011.301879,10702.715000,7200.924160,88453.160929
931,5231.826641,6019.527033,8550.100507,10547.283171,5916.736549,5122.596222,12411.801620,7410.610427,8402.468000,6305.517632,75918.467578
932,4871.522631,6332.774044,7920.723981,10113.888283,5961.897794,5162.963689,11500.157129,6719.584642,7486.846000,5842.721550,71913.079935
933,4616.802657,5389.226644,7996.062017,10665.673813,5061.086620,5021.390646,11695.859036,7922.431776,7894.009300,5974.443251,72236.985737
934,5083.616595,5374.480205,8217.142946,12010.950993,5000.425974,5325.109168,13403.592858,7637.432271,8110.308000,6551.357368,76714.416483

In [16]:
rng=range(0,33)
new_cols =  ['' + str(i) for i in rng]
X2.columns = new_cols[:32]
std2= preprocessing.StandardScaler().fit(X2)
X2 = std2.transform(X2)

In [17]:
def create_MLP2():
    mlp=models.Sequential()
    mlp.add(Dense(40, input_dim=X2.shape[1], activation='relu'))
    #mlp.add(Dense(20, activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))    
    mlp.add(Dense(1, activation='relu'))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP2 = KerasRegressor(build_fn=create_MLP2,
                               epochs=600,
                               batch_size=20,
                               verbose=0)

In [18]:
rf2_models=[];
rf2_models=(cross_val_score(RF,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0) )

gb2_models=[];
gb2_models=(cross_val_score(GB,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
   

xg2_models=[];
xg2_models=(cross_val_score(XG,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [19]:

mlp2_models=[];
mlp2_models=(cross_val_score(MLP2,X2,y,cv=cv, scoring='mean_absolute_error').mean().round(0)  )

In [20]:
mae2=-pd.DataFrame(np.column_stack((mlp2_models,rf2_models,gb2_models,xg2_models)) )
mae2=mae2.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG'})
mae2

      MLP      RF      GB      XG
0  1340.0  1209.0  1179.0  1072.0

In [21]:
#Using forecasted data and no empirical sales data, the best performaning model is selected based on Train/Test. 
## NOTE this improvement is not the true delta.  Only a final forecast between Stage 1 vs 2 will tell. 

best2=mae2.idxmin(axis=1)
best2.astype('category')
mae2["Best"]=best2
both_mae=pd.concat([mae,mae2],axis=0)
both_mae.reset_index(drop=True, inplace=True)

# Phase 1 & 2 DC Models compared based on Test set MAE scores. 
both_mae['min']=both_mae.min(axis=1)
both_mae['error reduction']= ((both_mae['min'][0]-both_mae['min'][1])/both_mae['min'][0] ).round(3)
both_mae

  Best      GB      GPR      MLP      RF      XG     min  error reduction
0   XG  3220.0  51882.0  29334.0  3306.0  3208.0  3208.0            0.666
1   XG  1179.0      NaN   1340.0  1209.0  1072.0  1072.0            0.666

In [22]:
bm2_dict={}
for sku in range(0,1):
        if  mae2["Best"][0]=="RF":
            bm2_dict[sku]=RF_final(X2,y);
                    
        elif mae2["Best"][0]=="NN":
            bm2_dict[sku]=MLP_final(X2,y);
                                
        elif mae2["Best"][0]=="GB":
            bm2_dict[sku]=GB_final(X2,y); 
                        
        elif mae2["Best"][0]=="XG":
            bm2_dict[sku]=XG_final(X2,y);

In [23]:
tier_pred=pd.concat([bm_dict[0][0],bm2_dict[0][0],y],axis=1)
tier_pred.columns = ['DC_Phase1', 'DC_Phase2',"Sales"]
# tier_pred.to_csv('C:\\Users\\lengada1\\NCSU\\DC_tier_predictions.csv')
tier_pred.to_csv('./DC_tier_predictions.csv')
tier_pred.round()

     DC_Phase1  DC_Phase2  Sales
0      72276.0    72564.0  72552
1      64639.0    64658.0  64297
2      63063.0    63131.0  64112
3      65082.0    64848.0  65006
4      43302.0    43272.0  43300
5       -108.0        2.0      0
6      50399.0    50397.0  50984
7      48025.0    48002.0  48246
8      47117.0    45848.0  45400
9      47812.0    47270.0  46978
10     51814.0    51570.0  51511
11     43586.0    42531.0  42506
12      -144.0        7.0      0
13     72734.0    72157.0  71624
14     66857.0    67995.0  68454
15     65423.0    65749.0  66359
16     61757.0    60868.0  60730
17     63515.0    63465.0  63379
18     43451.0    41724.0  41514
19      -353.0       -4.0      0
20     49418.0    48878.0  48742
21     47642.0    47709.0  47741
22     48516.0    48657.0  48958
23     55565.0    57636.0  58657
24     59834.0    60942.0  60284
25     47965.0    48964.0  49258
26       114.0       41.0      0
27     88540.0    88680.0  87665
28     74724.0    74133.0  74556
29     69899.0    70382.0  70827
..         ...        ...    ...
905    76932.0    76099.0  75256
906    71662.0    71152.0  71053
907    49787.0    49695.0  49651
908      182.0       26.0      0
909    63597.0    64824.0  65461
910    57149.0    58083.0  57315
911    57864.0    58626.0  58514
912    57034.0    58128.0  58747
913    60673.0    60281.0  59787
914    48026.0    47237.0  46215
915       78.0      -16.0      0
916    88875.0    88817.0  88715
917    77791.0    79474.0  80477
918    74063.0    73514.0  73330
919    72112.0    72725.0  72878
920    67582.0    65185.0  64608
921    47703.0    48622.0  49229
922      218.0       23.0      0
923    61520.0    62331.0  62773
924    55923.0    56052.0  56076
925    56188.0    55396.0  53958
926    55452.0    56407.0  56591
927    55634.0    55208.0  54317
928    46640.0    45191.0  44903
929       38.0        3.0      0
930    87511.0    86738.0  86899
931    76953.0    75959.0  74693
932    73031.0    73171.0  72885
933    73430.0    73273.0  73389
934    78824.0    83038.0  83695

[935 rows x 3 columns]

In [24]:
# END NOTEBOOK
bm_dict[0][1]

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=2, learning_rate=0.01, max_delta_step=0,
       max_depth=6, min_child_weight=1, missing=None, n_estimators=900,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [25]:
def save_model(model, filename):
    """
    Saves the model as a file. 
    - Keras models: saved as .json and .h5 files
    - scikit-learn models: saved as .pickle files
    """
    
    if type(model) is KerasRegressor:
        
        model_json = model.model.to_json()
        with open('{}.json'.format(filename), "w") as json_file:
            json_file.write(model_json)
        model.model.save_weights('{}.h5'.format(filename))        
    else:
        pickle_out = open('{}.pickle'.format(filename), "wb")
        pickle.dump(model, pickle_out)
        pickle_out.close()


# Save model to disk
filename="NCSU_DC"
model = bm_dict[0][1]
save_model(model, filename)

In [27]:
# Load model from disk
def load_pickled_model(path_to_model):
    loaded_model = pickle.load(open(path_to_model, 'rb'))
    
    return loaded_model

def load_keras_model(path_to_json, path_to_weights_h5):
    
    # load json and create model
    json_file = open(path_to_json, 'r')
    loaded_model_json = json_file.read()
    json_file.close()
    loaded_model = model_from_json(loaded_model_json)

    # load weights into new model
    loaded_model.load_weights(path_to_weights_h5)
    
    # wrap Sequential obj as a KerasRegressor to allow scikit-learn compatibility
    wrapped_loaded_model = KerasRegressor(build_fn=create_MLP, epochs=400, batch_size=20, verbose=0)
    
    return wrapped_loaded_model

def load_model(filename):
    """
    Loads a given file as a model
    - .pickle files: loaded as scikit-learn models
    - .json and .h5 files: loaded together to create Keras models
    """
    
    loaded_model = None
    
    try:
        loaded_model = load_pickled_model("{}.pickle".format(filename))
        
    except FileNotFoundError:
        loaded_model = load_keras_model("{}.json".format(filename), "{}.h5".format(filename))
        
    return loaded_model

loaded_model = load_model("NCSU_DC")

In [31]:
# Evaluate loaded model on test data
scores=[]
model_family=[]
    
# Identify the model family
if isinstance(loaded_model, RandomForestRegressor):
    model_family.append('RF')
    
elif isinstance(loaded_model, xgb.XGBRegressor):
    model_family.append('XG')   
    
elif isinstance(loaded_model, ensemble.GradientBoostingRegressor):
    model_family.append('GB')    
    
else:
    model_family.append('MLP')

# Obtain the cross validation score
score = -cross_val_score(loaded_model,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)
scores.append(score)        

loaded_model_scores = pd.DataFrame({
    'CV Score':scores,
    'Family':model_family
})

loaded_model_scores

   CV Score Family
0    3208.0     XG