In [39]:
import keras
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras import models
from keras.wrappers.scikit_learn import KerasRegressor
from keras.models import Sequential,model_from_json
from keras.layers import Dense, Dropout, LSTM, Activation
%matplotlib inline
from decimal import Decimal
import warnings
warnings.filterwarnings("ignore")
import pickle
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,Normalizer, MinMaxScaler
from sklearn.cross_validation import cross_val_score
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(2)
from sklearn.metrics import mean_absolute_error
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
import xgboost as xgb

In [40]:
df=pd.read_csv('C:\\Users\\lengada1\\NCSU\\DC_ten_skus.csv')
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.weekday_name
day_dummy=pd.get_dummies(df.Day)
df=pd.concat([df,day_dummy],axis=1)
df.drop(['Day','Date'],inplace=True,axis=1)

y=df['Sales']

In [41]:
df.head()
df.shape

(942, 16)

In [42]:
X=df.drop(['id','DayOfWeek','Customers','Sales'],inplace=False,axis=1)
X.head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,0,10,2013,1,0,0,0,0,0,1,0
1,10,0,10,2013,1,0,0,0,0,0,0,1
2,10,0,8,2013,1,0,0,0,0,1,0,0
3,10,0,8,2013,1,1,0,0,0,0,0,0
4,10,0,1,2013,1,0,0,1,0,0,0,0

In [5]:
for obs in range(1,8):
    X["Sales_T"+str(obs)]=df['Sales'].shift(obs)

In [6]:
X['Mov_avg']=df['Sales'].rolling( window=7).mean().shift(1) 
y=y[7:]
X=X[7:]
y.reset_index(drop=True, inplace=True)
X.reset_index(drop=True, inplace=True)
X.head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Sales_T1,Sales_T2,Sales_T3,Sales_T4,Sales_T5,Sales_T6,Sales_T7,Mov_avg
0,10,10,1,2013,1,0,0,0,0,0,1,0,89391.0,0.0,43727.0,55606.0,52848.0,60436.0,0.0,43144.000000
1,10,10,1,2013,1,0,0,0,0,0,0,1,72552.0,89391.0,0.0,43727.0,55606.0,52848.0,60436.0,53508.571429
2,10,10,1,2013,1,0,0,0,0,1,0,0,64297.0,72552.0,89391.0,0.0,43727.0,55606.0,52848.0,54060.142857
3,10,10,1,2013,1,1,0,0,0,0,0,0,64112.0,64297.0,72552.0,89391.0,0.0,43727.0,55606.0,55669.285714
4,10,0,0,2013,1,0,0,1,0,0,0,0,65006.0,64112.0,64297.0,72552.0,89391.0,0.0,43727.0,57012.142857

In [7]:
std = preprocessing.StandardScaler().fit(X)
X = std.transform(X)
len(X)

935

In [8]:
cv=2

RF=RandomForestRegressor( n_estimators=1000,max_depth=10,max_features=14);
rf_models=[];
rf_models=(cross_val_score(RF,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0) )


GB=ensemble.GradientBoostingRegressor(n_estimators= 1000,max_depth= 8, max_features=14,
          learning_rate= 0.01, loss= 'ls');
gb_models=[];
gb_models=(cross_val_score(GB,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
   

XG=xgb.XGBRegressor(n_estimators= 900,learning_rate =0.01, max_depth=6,gamma=2)
xg_models=[]
xg_models=(cross_val_score(XG,X,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [50]:
def create_MLP():
    mlp=models.Sequential()
    mlp.add(Dense(20, input_dim=X.shape[1], activation='relu'))
    #mlp.add(Dense(20, activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))    
    mlp.add(Dense(1, activation='relu'))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP = KerasRegressor(build_fn=create_MLP,
                               epochs=300,
                               batch_size=20,
                               verbose=0)

mlp_models=[]
mlp_models=(cross_val_score(MLP,X,y,cv=cv).mean().round(0)  )

In [51]:
mae=-pd.DataFrame(np.column_stack((mlp_models,rf_models,gb_models,xg_models)) )
mae=mae.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG'})
best=mae.idxmin(axis=1)
best.astype('category')
mae["Best"]=best
mae

       MLP      RF      GB      XG Best
0  52290.0  3306.0  3220.0  3208.0   XG

In [11]:
#Same models as above, but configured here to predict over entire X (935 days)
def RF_final(X, y):
    tree=RF
    tree.fit(X,y)
    pred=tree.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'RF'})
    return pred

def MLP_final(X,y):
    model = MLP
    model.fit(X,y)
    pred=model.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'MLP'})
    return pred

def GB_final(X,y):
    model = GB
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'GB'})
    return pred

def XG_final(X,y):
    model=XG
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'XG'})
    return pred

In [12]:
#Using aggregated SKU sales data, the best performing model is selected based on K-fold. 
#Then best model is used to predict full data set 

bm_dict={}
for sku in range(0,1):        
        if  mae["Best"][0]=="RF":
            bm_dict[sku]=RF_final(X,y);
                    
        elif mae["Best"][0]=="NN":
            bm_dict[sku]=MLP_final(X,y);
                                
        elif mae["Best"][0]=="GB":
            bm_dict[sku]=GB_final(X,y); 
                        
        elif mae["Best"][0]=="XG":
            bm_dict[sku]=XG_final(X,y);

In [13]:
# Create Phase 2 data set which is comprised of both aggregate SKU data and forecasts
dc_pred=pd.DataFrame(bm_dict[0])
sku_pred=pd.read_csv('C:\\Users\\lengada1\\NCSU\\prediction_skus.csv')
sku_pred=sku_pred.iloc[:,1:]
X2=pd.concat([sku_pred,dc_pred,pd.DataFrame(X)],axis=1)
sku_pred

,1,2,3,4,5,6,7,8,9,10,Total
0,5717.818209,6301.653071,9865.725643,10153.291251,5602.367520,7176.216977,10341.561739,6505.311482,6279.433600,5714.657222,73658.036707
1,5510.298604,6512.066582,8556.524297,9330.420316,5765.830248,6921.244257,8090.852354,5673.728950,5267.011700,5539.029505,67167.006832
2,5079.047790,5460.737801,7735.243498,9324.782816,4944.436392,6314.656802,8066.825115,6234.547054,5368.332500,5616.178584,64144.788373
3,4855.066339,4907.510546,8600.125698,9873.201129,5069.712080,6927.614117,8099.700803,5206.362083,5712.226600,5606.811352,64858.330710
4,4848.817431,2609.258951,4299.631053,9935.107310,1835.048437,3765.943200,4538.281949,2510.754229,4950.396000,4541.323872,43834.562428
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.028284,0.000000,-0.028284
6,4364.450817,4004.262165,5161.439033,7940.504973,3824.709259,5972.879755,6844.887051,4286.980709,4488.552000,4817.428118,51706.093638
7,4031.301953,3947.826898,5158.895142,7462.205307,3727.959016,5616.944218,6807.330886,4192.341320,4160.209000,4569.376346,49674.390071
8,3944.842050,4649.660839,5124.796593,7195.689326,3997.489338,5247.771443,6372.850673,3895.344289,3787.561300,4551.669918,48767.675748
9,3894.189293,3881.791308,5029.780984,7370.564596,3713.124132,5554.787497,6780.353349,4827.428066,4408.337000,4520.857199,49981.213338
10,4245.188187,3914.496199,5753.720775,7714.182408,4080.789181,5715.102832,7574.897096,3990.749414,4940.951000,4764.123412,52694.200677
11,4983.633181,2532.131341,4116.094082,9505.201476,1778.062763,3646.093786,4818.921211,2425.080131,5140.652000,4502.695003,43448.564827
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.053045,0.000000,-0.053045
13,5744.192988,6577.690528,7323.494665,11638.913468,6713.288646,7280.665828,10721.421378,7750.308633,6982.203000,6657.925012,77390.104271
14,5223.222718,5930.723979,8106.196403,9930.915505,5657.912371,7011.165911,9260.975655,6376.083705,5334.627000,5405.284997,68237.108196
15,5362.314867,6181.119323,8337.048882,9310.429981,5723.656718,6988.189735,8047.107928,5940.518205,4900.090000,5270.986395,66061.461878
16,5163.339575,5152.720556,7665.836171,9095.553007,4884.909327,6215.657925,7918.644043,6436.209779,5052.442000,4981.103498,62566.415776
17,5257.620845,4781.019769,7538.104661,9534.606713,4964.245910,6586.677830,8398.576603,5148.807489,5570.835000,5377.504432,63157.999214
18,5379.716069,2459.275038,4088.689027,9704.708709,1711.137049,3568.620140,4415.173737,2419.843968,5017.504000,4662.733382,43427.401026
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.043465,0.000000,-0.043465
20,4208.318142,3930.218580,5446.562407,8014.219914,3658.144368,5887.256261,6806.083194,4142.699459,4208.080000,4759.075375,51060.657780
21,3888.350691,3846.602754,5183.907182,7436.751298,3669.813283,5565.052033,6627.681069,4038.122900,4126.518600,4564.614294,48947.414060
22,4108.486962,4484.417434,5163.045673,7559.677321,3926.307934,5685.134009,6225.985349,3921.820116,4042.392600,4400.597774,49517.865151
23,4515.580422,4041.144875,5416.667457,8834.882136,4046.507613,5951.143558,6834.920104,5078.175921,4492.574700,4499.291151,53710.887945
24,5273.183988,4190.369657,6189.838469,9313.044036,4176.387447,6331.763843,8366.987540,4269.046174,4952.821000,4736.435904,57799.877859
25,5711.538596,2832.103219,4612.137004,10422.648988,1799.584141,3951.130302,5680.325548,2466.148751,5156.205000,4463.062521,47094.884149
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.056809,0.000000,-0.056809
27,6906.761140,7134.246191,10929.090479,13571.475418,7298.005995,7995.748875,11304.371647,8116.772377,7480.227000,7523.753491,88260.452664
28,6097.723153,6251.397279,9665.616068,11371.915256,5685.897410,7163.679662,9967.504627,6986.286160,6306.049000,5686.595199,75182.663642
29,5936.196322,6573.185582,8697.226316,10430.999778,5646.041251,6959.841448,8315.717458,6040.836447,5669.838400,5353.215461,69623.098443
...,...,...,...,...,...,...,...,...,...,...,...
905,5213.389228,6035.497232,7902.289963,10766.941045,5617.949743,5380.294432,10822.738936,8741.049105,8682.273000,6677.128553,75839.551675
906,5014.941636,4886.428074,7988.196339,10946.982574,5277.449924,5175.286138,11382.761888,6928.788711,8371.239000,5984.225171,71956.299711
907,4685.789839,4120.382805,4410.733220,10041.923116,2067.371890,3076.216048,6953.899715,3766.389294,7388.477500,5283.045256,51794.228721
908,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.312140,0.000000,-0.312140
909,4154.652278,4267.333932,6583.588947,9549.101372,4201.345590,4434.751308,10547.962700,6609.404624,7200.276400,5968.697339,63517.114457
910,3857.897641,4103.857473,6274.687520,8255.779199,3924.272999,4177.535324,9569.668532,5484.447680,6700.878400,5512.063899,57861.088683
911,3824.348997,5349.621996,5927.730414,8264.068984,4497.518631,4214.410605,8689.177902,5288.193240,5747.480000,5213.497878,57016.048627
912,3772.552890,4108.950937,6039.235329,8437.337135,4343.472950,4023.589826,9130.450870,5723.362419,6279.598600,5006.810095,56865.361084
913,3924.595310,4459.873069,6377.259414,9022.846871,4471.560799,4318.281577,9451.756835,5687.426422,5784.898000,5446.198215,58944.696459
914,4097.525466,2835.989755,4145.209935,10039.210983,2045.552030,3117.880892,6371.202761,3582.391384,6730.434000,4832.357916,47797.755205
915,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.007689,0.000000,-0.007689
916,5324.903650,7330.428833,9599.505054,13243.130272,7616.076761,6735.486192,13563.049386,9226.678566,10629.221000,7090.862208,90359.341626
917,4992.422573,6269.335765,9091.569615,11481.103485,6135.664120,6087.241839,11890.357178,8292.151928,8306.646000,6744.458716,79290.951703
918,4899.171080,6614.322677,8387.929174,10864.947607,5994.740921,5053.072887,10397.356752,7908.693575,7187.606400,6433.046021,73740.887140
919,4479.264016,5320.681697,7859.467803,11059.489289,5316.122152,5073.856439,10183.213753,8451.363564,7877.063500,6144.978505,71765.500694
920,4586.322775,4782.608744,7360.707932,10792.118165,4994.822482,4938.491404,10843.655809,6967.373759,7837.359400,5878.499621,68981.960067
921,4446.348342,2934.398875,4038.903843,9906.893338,2012.750604,3030.731841,6663.896457,3839.242942,6768.887700,5316.732486,48958.786423
922,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.103678,0.000000,-0.103678
923,3906.095211,4092.670546,5717.155088,9777.113586,3977.545251,4196.594408,9900.887575,5865.544546,7160.478500,5860.148945,60454.233673
924,3786.133486,4017.805717,5744.375256,8620.478162,3852.728501,4003.904757,9247.850161,5392.265065,6488.474600,5814.462640,56968.478354
925,3776.057640,5017.327983,5609.368631,8601.116822,4104.832942,3873.525437,8520.033795,5224.913094,5598.430700,5406.251321,55731.858328
926,3701.543351,4155.381621,5621.820537,8256.533655,3849.910591,3857.727704,8971.163264,5890.586562,6183.783700,5830.192415,56318.643391
927,3782.033448,4001.507758,5706.721259,8108.298185,4077.971237,3945.741744,9296.166432,5104.082701,5932.015600,5772.662940,55727.201329
928,4206.353433,2679.429521,4132.804131,9580.301873,2027.489989,2983.708094,6570.800437,3381.496860,6903.274400,5014.186982,47479.845734
929,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.029949,0.000000,-0.029949
930,5777.072901,6950.855119,9053.594415,11887.306002,7348.909395,6058.022162,14462.460051,9011.301879,10662.451000,7200.924160,88412.897257
931,5231.826641,6019.527033,8550.100507,10547.283171,5916.736549,5122.596222,12411.801620,7410.610427,8412.494000,6305.517632,75928.493945
932,4871.522631,6332.774044,7920.723981,10113.888283,5961.897794,5162.963689,11500.157129,6719.584642,7479.281200,5842.721550,71905.514993
933,4616.802657,5389.226644,7996.062017,10665.673813,5061.086620,5021.390646,11695.859036,7922.431776,7917.981400,5974.443251,72260.957905
934,5083.616595,5374.480205,8217.142946,12010.950993,5000.425974,5325.109168,13403.592858,7637.432271,8125.443400,6551.357368,76729.551737

In [14]:
rng=range(0,33)
new_cols =  ['' + str(i) for i in rng]
X2.columns = new_cols[:32]
std2= preprocessing.StandardScaler().fit(X2)
X2 = std2.transform(X2)

In [36]:
def create_MLP2():
    mlp=models.Sequential()
    mlp.add(Dense(40, input_dim=X2.shape[1], activation='relu'))
    #mlp.add(Dense(20, activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))    
    mlp.add(Dense(1, activation='relu'))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP2 = KerasRegressor(build_fn=create_MLP2,
                               epochs=600,
                               batch_size=20,
                               verbose=0)

In [22]:
rf2_models=[];
rf2_models=(cross_val_score(RF,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0) )

gb2_models=[];
gb2_models=(cross_val_score(GB,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
   

xg2_models=[];
xg2_models=(cross_val_score(XG,X2,y,cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [37]:

mlp2_models=[];
mlp2_models=(cross_val_score(MLP2,X2,y,cv=cv, scoring='mean_absolute_error').mean().round(0)  )

In [38]:
mae2=-pd.DataFrame(np.column_stack((mlp2_models,rf2_models,gb2_models,xg2_models)) )
mae2=mae2.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG'})
mae2

       MLP      RF      GB      XG
0  26308.0  1206.0  1179.0  1076.0

In [19]:
#Using forecasted data and no empirical sales data, the best performaning model is selected based on Train/Test. 
## NOTE this improvement is not the true delta.  Only a final forecast between Stage 1 vs 2 will tell. 

best2=mae2.idxmin(axis=1)
best2.astype('category')
mae2["Best"]=best2
both_mae=pd.concat([mae,mae2],axis=0)
both_mae.reset_index(drop=True, inplace=True)

# Phase 1 & 2 DC Models compared based on Test set MAE scores. 
both_mae['min']=both_mae.min(axis=1)
both_mae['error reduction']= ((both_mae['min'][0]-both_mae['min'][1])/both_mae['min'][0] ).round(3)
both_mae

       MLP      RF      GB      XG Best     min  error reduction
0  29328.0  3306.0  3220.0  3208.0   XG  3208.0            0.665
1   1471.0  1201.0  1151.0  1076.0   XG  1076.0            0.665

In [20]:
bm2_dict={}
for sku in range(0,1):
        if  mae2["Best"][0]=="RF":
            bm2_dict[sku]=RF_final(X2,y);
                    
        elif mae2["Best"][0]=="NN":
            bm2_dict[sku]=MLP_final(X2,y);
                                
        elif mae2["Best"][0]=="GB":
            bm2_dict[sku]=GB_final(X2,y); 
                        
        elif mae2["Best"][0]=="XG":
            bm2_dict[sku]=XG_final(X2,y);

In [ ]:
tier_pred=pd.concat([bm_dict[0],bm2_dict[0],y],axis=1)
tier_pred.columns = ['DC_Phase1', 'DC_Phase2',"Sales"]
tier_pred.to_csv('C:\\Users\\lengada1\\NCSU\\DC_tier_predictions.csv')
tier_pred.round()

In [ ]:
# END NOTEBOOK

In [ ]:
# The rest of this notebook is just a reference and aid to allow collaborators to save models and retrive and apply them without retraining. 
# The file names are not correct, thus just a reference. 

# also look at joblib.  https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/
model_json = model.to_json()
with open("NCSU_DC.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("NCSU_DC.h5")
print("Saved model to disk")

In [ ]:
# load json and create model
json_file = open('NCSU_DC.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("NCSU_DC.h5")
print("Loaded model from disk")

In [ ]:
# evaluate loaded model on test data
loaded_model.compile(loss='mse', optimizer='adam', metrics=['mae','mse'])
score = loaded_model.evaluate(Xs, y, verbose=0)
print("%s: %.0f"%  (loaded_model.metrics_names[1], score[1]))
print("%s: %.1f"%  (loaded_model.metrics_names[2], score[2]/10000000))