In [9]:
import keras
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras import models
from keras.wrappers.scikit_learn import KerasRegressor
from keras.models import Sequential,model_from_json
from keras.layers import Dense, Dropout, LSTM, Activation
%matplotlib inline
from decimal import Decimal
import warnings
warnings.filterwarnings("ignore")
import pickle
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,Normalizer, MinMaxScaler
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import GridSearchCV
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(2)
from sklearn.metrics import mean_absolute_error
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
import xgboost as xgb

In [11]:
df=pd.read_csv('C:\\Users\\lengada1\\NCSU\\ten_skus.csv')
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.weekday_name

day_dummy=pd.get_dummies(df.Day)
df=pd.concat([df,day_dummy],axis=1)
df.drop(['Day','Date'],inplace=True,axis=1)

In [12]:
def split_df(df):
    d={}
    split_by_list=np.unique(df.id.values)
    for sku in split_by_list:
        d[sku]=df[df.id==sku]
    return d

df_dict=split_df(df);

In [13]:
y={}
for sku in list(df_dict.keys()):
    y[sku]=df_dict[sku]['Sales']

In [14]:
X={}
for sku in list(df_dict.keys()):
    X[sku]=df_dict[sku]
    X[sku]=X[sku].drop(['id','DayOfWeek','Customers','High_Var','Luxury','Sales'],axis=1)

In [15]:
for sku in list(df_dict.keys()):
    for obs in range(1,8):
        X[sku]["Sales_T"+str(obs)]=df_dict[sku]['Sales'].shift(obs)

In [22]:
for sku in list(df_dict.keys()):
    X[sku]["Mov_avg"]=df_dict[sku]['Sales'].rolling( window=7).mean().shift(1)

In [25]:
#Cut lagged vars NAs off top 
cut_lag=7;
for sku in list(df_dict.keys()):
    y[sku]=y[sku][cut_lag:]
    y[sku].reset_index(drop=True, inplace=True)
    
for sku in list(df_dict.keys()):
    X[sku]=X[sku][cut_lag:]
    X[sku].reset_index(drop=True, inplace=True)

In [24]:
X[1].head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Sales_T1,Sales_T2,Sales_T3,Sales_T4,Sales_T5,Sales_T6,Sales_T7,Mov_avg
0,1,1,1,2013,1,0,0,0,0,0,1,0,7176.0,0.0,4997.0,4486.0,4327.0,5530.0,0.0,3788.000000
1,1,1,1,2013,1,0,0,0,0,0,0,1,5580.0,7176.0,0.0,4997.0,4486.0,4327.0,5530.0,4585.142857
2,1,1,1,2013,1,0,0,0,0,1,0,0,5471.0,5580.0,7176.0,0.0,4997.0,4486.0,4327.0,4576.714286
3,1,1,1,2013,1,1,0,0,0,0,0,0,4892.0,5471.0,5580.0,7176.0,0.0,4997.0,4486.0,4657.428571
4,1,0,0,2013,1,0,0,1,0,0,0,0,4881.0,4892.0,5471.0,5580.0,7176.0,0.0,4997.0,4713.857143

In [26]:
std={}
for sku in list(df_dict.keys()):
    std[sku] = preprocessing.StandardScaler().fit(X[sku])
    X[sku] = std[sku].transform(X[sku])

In [27]:
cv=5

RF=RandomForestRegressor( n_estimators=1000,max_depth=10,max_features=14);
# use a full grid over all parameters


rf_models=[];
for sku in list(df_dict.keys()):
    rf_models.append(cross_val_score(RF,X[sku],y[sku],cv=cv, scoring ='mean_absolute_error').mean().round(0) )
#

In [28]:

GB=ensemble.GradientBoostingRegressor(n_estimators= 1000,max_depth= 8, max_features=14)#,learning_rate=0.01,loss='ls');
gb_models=[];
for sku in list(df_dict.keys()):
    gb_models.append(cross_val_score(GB,X[sku],y[sku],cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
#

In [29]:
XG=xgb.XGBRegressor(n_estimators= 900,learning_rate =0.01, max_depth=6,gamma=2  )
xg_models=[]
for sku in list(df_dict.keys()):
    xg_models.append(cross_val_score(XG,X[sku],y[sku],cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [30]:
def create_MLP():
    mlp=models.Sequential()
    mlp.add(Dense(20, input_dim=X[1].shape[1], activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    #mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))
    mlp.add(Dense(1))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP = KerasRegressor(build_fn=create_MLP,
                               epochs=400,
                               batch_size=20,
                               verbose=0)

In [31]:
mlp_models=[]
for sku in list(df_dict.keys()):
    mlp_models.append(cross_val_score(MLP,X[sku],y[sku],cv=cv).mean().round(0)  )

In [32]:
mae=-pd.DataFrame(np.column_stack((mlp_models,rf_models,gb_models,xg_models)) )
mae=mae.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG'})
best=mae.idxmin(axis=1)
best.astype('category')
mae["Best"]=best
mae.index = mae.index + 1
mae.loc['mean'] = mae.mean()
mae['range']=mae.max(axis=1)-mae.min(axis=1)
mae

        MLP     RF     GB     XG Best  range
1     378.0  339.0  353.0  357.0   RF   39.0
2     392.0  380.0  399.0  388.0   RF   19.0
3     595.0  554.0  595.0  566.0   RF   41.0
4     675.0  684.0  741.0  709.0  MLP   66.0
5     363.0  346.0  358.0  362.0   RF   17.0
6     416.0  390.0  401.0  403.0   RF   26.0
7     690.0  689.0  708.0  709.0   RF   20.0
8     462.0  429.0  444.0  443.0   RF   33.0
9     523.0  531.0  534.0  531.0  MLP   11.0
10    394.0  364.0  380.0  377.0   RF   30.0
mean  488.8  470.6  491.3  484.5  NaN   20.7

In [33]:
#Need lots of rank and counts of how many times models came in 1st  vs 2nd.
def rank_model(df,rank):
    coln = 'Best' + str(rank) 
    sortID = np.argpartition(df[['MLP','RF','GB','XG']].values,rank,axis=1)[:,rank]
    df[coln] = df.columns[sortID]

In [34]:
rank_model(mae,0)
rank_model(mae,1)
mae

        MLP     RF     GB     XG Best  range Best0 Best1
1     378.0  339.0  353.0  357.0   RF   39.0    RF    GB
2     392.0  380.0  399.0  388.0   RF   19.0    RF    XG
3     595.0  554.0  595.0  566.0   RF   41.0    RF    XG
4     675.0  684.0  741.0  709.0  MLP   66.0   MLP    RF
5     363.0  346.0  358.0  362.0   RF   17.0    RF    GB
6     416.0  390.0  401.0  403.0   RF   26.0    RF    GB
7     690.0  689.0  708.0  709.0   RF   20.0    RF   MLP
8     462.0  429.0  444.0  443.0   RF   33.0    RF    XG
9     523.0  531.0  534.0  531.0  MLP   11.0   MLP    RF
10    394.0  364.0  380.0  377.0   RF   30.0    RF    XG
mean  488.8  470.6  491.3  484.5  NaN   20.7    RF    XG

In [35]:
def RF_final(X, y):
    tree=RF
    tree.fit(X,y)
    pred=tree.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'RF'})
    return pred

def MLP_final(X,y):
    model = MLP
    model.fit(X,y)
    pred=model.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'MLP'})
    return pred

def GB_final(X,y):
    model = GB
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'GB'})
    return pred

def XG_final(X,y):
    model=XG
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'XG'})
    return pred

In [36]:
#NOTE, because we are retraining models here, a bad initiatlization could lead to different results. 

def best_model(scores,X,y):
    d={}
    for sku in list(df_dict.keys()):
        
        if scores.loc[sku]["Best"]=="RF":     
            d[sku]=RF_final(X[sku],y[sku])
                    
        elif scores.loc[sku]["Best"]=="MLP":
            d[sku]=MLP_final(X[sku],y[sku])                 
            
        elif scores.loc[sku]["Best"]=="GB":
            d[sku]=GB_final(X[sku],y[sku])
            
        elif scores.loc[sku]["Best"]=="XG":
            d[sku]=XG_final(X[sku],y[sku])
      
    return d

In [37]:
bm_dict=best_model(mae,X,y)

In [38]:
#MAE of Best Model forecasting over all 935 days.  NN do very poorly here!
mae2=[]
for sku in list(df_dict.keys()):
    mae2.append( mean_absolute_error(y[sku], bm_dict[sku])   )
mae2=pd.DataFrame(mae2)
mae2.index = mae2.index + 1
mae2.round(1)

        0
1   193.6
2   216.2
3   305.3
4   507.5
5   197.2
6   190.5
7   351.5
8   202.0
9   383.8
10  199.7

In [44]:
sku_pred=pd.concat([ bm_dict[1],bm_dict[2],bm_dict[3],bm_dict[4],bm_dict[5],bm_dict[6],bm_dict[7],bm_dict[8],bm_dict[9],bm_dict[10],
],axis=1) 
sku_pred['Total'] = sku_pred.sum(axis=1)
sku_pred.columns = ['1','2','3','4','5','6','7','8','9','10','Total']
sku_pred.to_csv('C:\\Users\\lengada1\\NCSU\\prediction_skus.csv')

#Each column in this dataframe is the result of 1 of the 4 models
sku_pred

,1,2,3,4,5,6,7,8,9,10,Total
0,4028.070155,3933.607419,5174.478232,7432.938477,3725.016630,5607.321375,6806.916205,4207.681667,4355.298828,4575.576329,49846.905318
1,3939.086922,4632.660739,5142.490788,7006.601074,3997.977265,5275.288788,6387.782391,3888.736040,3897.496094,4557.150310,48725.270411
2,3890.810664,3840.314749,5054.772569,7085.299316,3719.835842,5551.322346,6798.710602,4839.750751,4251.476562,4520.816120,49553.109522
3,4253.015695,3886.589696,5778.068833,7839.360352,4058.536214,5698.072570,7586.416943,3999.500579,5356.418945,4761.602488,53217.582313
4,4986.052622,2519.789920,4131.315951,9462.297852,1784.665517,3649.817545,4877.134636,2423.252425,5014.551270,4516.572428,43365.450165
5,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
6,5788.076745,6594.611178,7325.500858,11641.523438,6729.381251,7283.053659,10691.241413,7753.878928,7258.882812,6703.765011,77769.915294
7,5224.419822,5915.020785,8149.809159,9384.062500,5651.638970,7021.318303,9248.276299,6348.275655,5728.949219,5373.716902,68045.487613
8,5365.775298,6173.493269,8314.124895,9079.247070,5719.910999,6961.307500,8071.511607,6023.864150,4909.776367,5261.958235,65880.969391
9,5152.497215,5147.503253,7629.552835,8997.029297,4868.429738,6226.241809,7895.137287,6425.635110,4890.357910,4969.136484,62201.520938
10,5282.709958,4777.797168,7498.485854,9640.109375,4954.249347,6575.534302,8372.862550,5180.883926,5515.728027,5394.776023,63193.136531
11,5378.436880,2462.017033,4087.132649,9513.586914,1706.955535,3569.950747,4426.738872,2406.044984,5154.694336,4669.538025,43375.095975
12,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
13,4175.822673,3907.704965,5466.660078,7440.541992,3624.202599,5864.741994,6828.882820,4149.462855,4514.673828,4778.066235,50750.760040
14,3872.238188,3852.128938,5205.229628,7128.620117,3635.648375,5568.210624,6620.853005,4043.614641,4339.280273,4564.337211,48830.161000
15,4107.170345,4472.696721,5182.029283,7127.492676,3920.000585,5715.336260,6251.432627,3906.523842,4084.173096,4392.564527,49159.419962
16,4543.724206,4037.522250,5415.969547,7483.141113,4020.956658,5963.154933,6855.248521,5109.664566,4315.146484,4495.836906,52240.365184
17,5261.683623,4200.589463,6169.589868,10042.398438,4177.027400,6310.379612,8381.522652,4252.058323,5162.649414,4749.363755,58707.262548
18,5699.987931,2818.457343,4598.962724,10237.694336,1794.100224,3957.832127,5674.486221,2448.451816,5107.664062,4459.362358,46796.999141
19,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
20,6873.700986,7086.158520,10898.164069,12890.704102,7239.909232,7994.315455,11229.279725,8107.875730,7580.430176,7541.298574,87441.836569
21,6118.662147,6253.337991,9672.736156,10847.948242,5697.301585,7179.013764,10028.556248,6982.972927,6252.231445,5735.291268,74768.051774
22,5972.944867,6579.784970,8714.877728,9913.972656,5607.891190,6986.957995,8331.803474,6054.019253,5699.257812,5383.615766,69245.125713
23,5751.597868,5463.390575,8269.698032,10150.170898,4908.593742,6569.984154,8326.178971,6810.275877,5398.856445,5607.591606,67256.338168
24,5595.988873,4815.618284,7957.246562,9898.647461,4930.346582,6906.021362,8795.947124,5552.454961,5720.207031,5558.132811,65730.611050
25,5470.138433,2755.422298,4172.663329,9767.964844,1776.726974,3702.917686,4879.477254,2450.296883,5236.171387,4557.824646,44769.603734
26,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
27,4459.722622,4007.808886,5324.845648,7922.262207,3733.366023,5786.894928,7094.227097,4324.237655,4600.706055,4790.031873,52044.102993
28,4044.592080,3982.324173,5401.175871,7760.996582,3648.506490,5517.807902,6852.710183,4071.019653,4239.234863,4570.868169,50089.235967
29,4100.642506,4894.610429,5440.742636,7208.461426,4059.619859,5284.548995,6743.026065,4039.837522,4283.675781,4588.108580,50643.273799
...,...,...,...,...,...,...,...,...,...,...,...
898,5229.506861,6074.335078,7918.143636,11306.121094,5603.999543,5405.625108,10812.890039,8698.395082,8507.579102,6686.004193,76242.599735
899,5006.678888,4887.103657,8060.263013,11378.702148,5259.501302,5195.800125,11433.289522,6912.014050,8120.604492,6021.052582,72275.009779
900,4707.562584,4067.282970,4368.054260,10821.852539,2072.130458,3081.573712,6987.490190,3783.191739,7452.348145,5262.471859,52603.958457
901,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
902,4139.583964,4258.541474,6613.860070,8647.531250,4200.852535,4420.912527,10519.238777,6607.842165,7469.790527,6033.246943,62911.400233
903,3856.702373,4116.391278,6217.088032,8153.387695,3926.777561,4177.615773,9543.452383,5515.026033,6552.379395,5549.006114,57607.826638
904,3823.939779,5327.180317,5919.631175,8089.777344,4506.810994,4209.538503,8681.920801,5290.690444,5857.866699,5220.714822,56928.070879
905,3761.509336,4137.345530,6042.479965,8477.750000,4342.639834,4032.765214,9147.849060,5736.656476,6288.220703,5025.088643,56992.304762
906,3927.137511,4480.232520,6393.393486,9164.342773,4488.969055,4333.996272,9433.248778,5640.969479,5872.884766,5493.068850,59228.243490
907,4098.652089,2816.755694,4158.585356,10369.291992,2051.591521,3121.522184,6362.112470,3583.907732,6874.082031,4836.364358,48272.865430
908,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
909,5315.044356,7333.584867,9603.876082,12645.929688,7609.132383,6762.265424,13534.888309,9230.911083,10760.104492,7084.355987,89880.092671
910,4995.156207,6296.102356,9068.990817,11491.568359,6126.091522,6030.765606,11960.140422,8312.105115,8548.281250,6763.353909,79592.555562
911,4896.479219,6613.374391,8417.497791,11043.175781,5974.314014,5076.645898,10472.697135,7909.596819,7115.417969,6409.318802,73928.517819
912,4476.971485,5319.060918,7884.352104,11514.570312,5271.991727,5089.732777,10174.702567,8452.756775,7525.683594,6125.886760,71835.709018
913,4579.563497,4781.250839,7390.778800,10623.074219,4975.987404,4940.630676,10779.408646,6962.561401,7412.861816,5893.498066,68339.615364
914,4432.740420,2933.732556,4022.962526,10499.243164,2018.368275,3036.177710,6649.044194,3865.855995,7020.187500,5305.799568,49784.111909
915,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
916,3907.520584,4098.197806,5703.350395,10434.164062,3981.467348,4191.607471,9945.915369,5862.080684,7180.474609,5832.295236,61137.073565
917,3784.309456,4023.291842,5742.486650,8301.153320,3862.635216,4007.327106,9266.816810,5399.986047,6195.666504,5812.924864,56396.597814
918,3776.097418,5016.434706,5583.889405,8316.424805,4098.800218,3867.565917,8543.700767,5208.987891,5634.111816,5384.720941,55430.733885
919,3693.414954,4136.856660,5612.032947,9160.850586,3863.249193,3863.740127,8956.088777,5903.981762,5964.507812,5888.180100,57042.902920
920,3775.993253,4001.947818,5723.239710,8356.607422,4071.785730,3944.292095,9304.623201,5111.976092,5925.698730,5766.100331,55982.264382
921,4215.201355,2684.684703,4130.157968,9637.294922,2029.556961,2982.883006,6557.551607,3385.703950,6941.304688,5014.110952,47578.450112
922,0.000000,0.000000,0.000000,0.000406,0.000000,0.000000,0.000000,0.000000,-0.000775,0.000000,-0.000370
923,5774.508242,6976.225461,9104.299162,12706.903320,7368.369010,6053.436180,14415.361077,9020.191146,10805.795898,7198.259461,89423.348957
924,5248.681828,6081.572193,8505.319597,10227.260742,5929.716889,5107.598477,12425.546271,7433.413807,8704.221680,6313.388796,75976.720280
925,4895.043546,6335.364304,7892.210502,9551.251953,5945.504430,5170.524592,11489.929315,6746.548090,7500.875000,5843.169617,71370.421351
926,4606.924036,5373.618969,7967.380593,10328.785156,5059.789810,4994.157900,11699.495080,7930.061500,7590.879883,5944.459917,71495.552845
927,5077.592144,5387.664155,8216.534288,10221.695312,4990.544537,5335.343205,13525.344769,7522.849816,7691.804199,6516.177458,74485.549884