In [21]:
import keras
import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, recall_score, precision_score
from keras import models
from keras.wrappers.scikit_learn import KerasRegressor
from keras.models import Sequential,model_from_json
from keras.layers import Dense, Dropout, LSTM, Activation
%matplotlib inline
from decimal import Decimal
import warnings
warnings.filterwarnings("ignore")
import pickle
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,Normalizer, MinMaxScaler
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import GridSearchCV
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(2)
from sklearn.metrics import mean_absolute_error
from sklearn import ensemble
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
import xgboost as xgb

import pickle
from sklearn.externals import joblib
import os
import re

In [22]:
# df=pd.read_csv('C:\\Users\\lengada1\\NCSU\\ten_skus.csv')
df=pd.read_csv('C:\\Users\\lengada1\\NCSU\\ten_skus.csv')
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.weekday_name

day_dummy=pd.get_dummies(df.Day)
df=pd.concat([df,day_dummy],axis=1)
df.drop(['Day','Date'],inplace=True,axis=1)

In [23]:
def split_df(df):
    d={}
    split_by_list=np.unique(df.id.values)
    for sku in split_by_list:
        d[sku]=df[df.id==sku]
    return d

df_dict=split_df(df);

In [24]:
y={}
for sku in list(df_dict.keys()):
    y[sku]=df_dict[sku]['Sales']

In [25]:
X={}
X_raw={}
for sku in list(df_dict.keys()):
    X_raw[sku]=df_dict[sku]
    X_raw[sku]=X_raw[sku].drop(['id','DayOfWeek','High_Var',"Luxury",'Customers','Sales'],axis=1)

In [26]:
for sku in list(df_dict.keys()):
    for obs in range(1,8):
        X_raw[sku]["Sales_T"+str(obs)]=df_dict[sku]['Sales'].shift(obs)

In [27]:
for sku in list(df_dict.keys()):
    X_raw[sku]["Mov_avg"]=df_dict[sku]['Sales'].rolling( window=7).mean().shift(1)

In [28]:
len(df)

9420

In [29]:
#Cut lagged vars NAs off top 
cut_lag=7;
for sku in list(df_dict.keys()):
    y[sku]=y[sku][cut_lag:]
    y[sku].reset_index(drop=True, inplace=True)
    
for sku in list(df_dict.keys()):
    X[sku]=X_raw[sku][cut_lag:]
    X[sku].reset_index(drop=True, inplace=True)

In [30]:
X[1].head()

,Open,Promo,SchoolHoliday,Year,Month,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Sales_T1,Sales_T2,Sales_T3,Sales_T4,Sales_T5,Sales_T6,Sales_T7,Mov_avg
0,1,1,1,2013,1,0,0,0,0,0,1,0,7176.0,0.0,4997.0,4486.0,4327.0,5530.0,0.0,3788.000000
1,1,1,1,2013,1,0,0,0,0,0,0,1,5580.0,7176.0,0.0,4997.0,4486.0,4327.0,5530.0,4585.142857
2,1,1,1,2013,1,0,0,0,0,1,0,0,5471.0,5580.0,7176.0,0.0,4997.0,4486.0,4327.0,4576.714286
3,1,1,1,2013,1,1,0,0,0,0,0,0,4892.0,5471.0,5580.0,7176.0,0.0,4997.0,4486.0,4657.428571
4,1,0,0,2013,1,0,0,1,0,0,0,0,4881.0,4892.0,5471.0,5580.0,7176.0,0.0,4997.0,4713.857143

In [31]:
std={}
for sku in list(df_dict.keys()):
    std[sku] = preprocessing.StandardScaler().fit(X[sku])
    X[sku] = std[sku].transform(X[sku])

In [32]:
cv=2

RF=RandomForestRegressor( n_estimators=1000,max_depth=10,max_features=14);
# use a full grid over all parameters


rf_models=[];
for sku in list(df_dict.keys()):
    rf_models.append(cross_val_score(RF,X[sku],y[sku],cv=cv, scoring ='mean_absolute_error').mean().round(0) )
#

In [33]:

GB=ensemble.GradientBoostingRegressor(n_estimators= 1000,max_depth= 8, max_features=14)#,learning_rate=0.01,loss='ls');
gb_models=[];
for sku in list(df_dict.keys()):
    gb_models.append(cross_val_score(GB,X[sku],y[sku],cv=cv, scoring ='mean_absolute_error').mean().round(0)  )
#

In [34]:
XG=xgb.XGBRegressor(n_estimators= 900,learning_rate =0.01, max_depth=6,gamma=2  )
xg_models=[]
for sku in list(df_dict.keys()):
    xg_models.append(cross_val_score(XG,X[sku],y[sku],cv=cv, scoring ='mean_absolute_error').mean().round(0)  )

In [35]:
def create_MLP():
    mlp=models.Sequential()
    mlp.add(Dense(20, input_dim=X[1].shape[1], activation='relu'))
    mlp.add(Dense(30, activation='relu'))
    #mlp.add(Dense(30, activation='relu'))
    mlp.add(Dense(10, activation='relu'))
    mlp.add(Dense(1))
    mlp.compile(loss='mae', optimizer='adam', metrics=['mae'])
    return mlp

MLP = KerasRegressor(build_fn=create_MLP,
                               epochs=400,
                               batch_size=20,
                               verbose=0)

In [36]:
mlp_models=[]
for sku in list(df_dict.keys()):
    mlp_models.append(cross_val_score(MLP,X[sku],y[sku],cv=cv).mean().round(0)  )

In [37]:
mae=-pd.DataFrame(np.column_stack((mlp_models,rf_models,gb_models,xg_models)) )
mae=mae.rename(columns = {0:'MLP',1:'RF',2:'GB',3:'XG'})
best=mae.idxmin(axis=1)
best.astype('category')
mae["Best"]=best
mae.index = mae.index + 1
mae.loc['mean'] = mae.mean()
mae['range']=mae.max(axis=1)-mae.min(axis=1)
mae

        MLP     RF     GB     XG Best  range
1     420.0  360.0  380.0  361.0   RF   60.0
2     456.0  384.0  410.0  386.0   RF   72.0
3     724.0  584.0  624.0  597.0   RF  140.0
4     785.0  747.0  801.0  793.0   RF   54.0
5     417.0  369.0  386.0  384.0   RF   48.0
6     651.0  552.0  574.0  601.0   RF   99.0
7     790.0  726.0  751.0  742.0   RF   64.0
8     681.0  485.0  485.0  506.0   RF  196.0
9     584.0  655.0  698.0  727.0  MLP  143.0
10    448.0  385.0  411.0  401.0   RF   63.0
mean  595.6  524.7  552.0  549.8  NaN   70.9

In [38]:
#Need lots of rank and counts of how many times models came in 1st  vs 2nd.
def rank_model(df,rank):
    coln = 'Best' + str(rank) 
    sortID = np.argpartition(df[['MLP','RF','GB','XG']].values,rank,axis=1)[:,rank]
    df[coln] = df.columns[sortID]

In [39]:
rank_model(mae,0)
rank_model(mae,1)
mae

        MLP     RF     GB     XG Best  range Best0 Best1
1     420.0  360.0  380.0  361.0   RF   60.0    RF    XG
2     456.0  384.0  410.0  386.0   RF   72.0    RF    XG
3     724.0  584.0  624.0  597.0   RF  140.0    RF    XG
4     785.0  747.0  801.0  793.0   RF   54.0    RF   MLP
5     417.0  369.0  386.0  384.0   RF   48.0    RF    XG
6     651.0  552.0  574.0  601.0   RF   99.0    RF    GB
7     790.0  726.0  751.0  742.0   RF   64.0    RF    XG
8     681.0  485.0  485.0  506.0   RF  196.0    RF    GB
9     584.0  655.0  698.0  727.0  MLP  143.0   MLP    RF
10    448.0  385.0  411.0  401.0   RF   63.0    RF    XG
mean  595.6  524.7  552.0  549.8  NaN   70.9    RF    XG

In [40]:
def RF_final(X, y):
    """
    Returns final predictions and final fitted version of RF
    """
    tree=RF
    tree.fit(X,y)
    pred=tree.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'RF'})
    return (pred, tree)

def MLP_final(X,y):
    model = MLP
    model.fit(X,y)
    pred=model.predict(X)
    pred=pd.DataFrame(pred)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'MLP'})
    return (pred, model)

def GB_final(X,y):
    model = GB
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'GB'})
    return (pred, model)

def XG_final(X,y):
    model=XG
    model.fit(X,y)
    prediction=model.predict(X)
    pred=pd.DataFrame(prediction)
    pred.reset_index(drop=True, inplace=True)
    pred=pred.rename(columns = {0:'XG'})
    return (pred, model)

In [41]:
#NOTE, because we are retraining models here, a bad initiatlization could lead to different results. 

def best_model(scores,X,y):
    d={}
    for sku in list(df_dict.keys()):
        
        if scores.loc[sku]["Best"]=="RF":     
            d[sku]=RF_final(X[sku],y[sku])
                    
        elif scores.loc[sku]["Best"]=="MLP":
            d[sku]=MLP_final(X[sku],y[sku])                 
            
        elif scores.loc[sku]["Best"]=="GB":
            d[sku]=GB_final(X[sku],y[sku])
            
        elif scores.loc[sku]["Best"]=="XG":
            d[sku]=XG_final(X[sku],y[sku])
      
    return d

In [42]:
bm_dict=best_model(mae,X,y)
# bm_dict

In [43]:
#MAE of Best Model forecasting over all 935 days.  NN do very poorly here!
mae2=[]
for sku in list(df_dict.keys()):
    mae2.append( mean_absolute_error(y[sku], bm_dict[sku][0])   )
mae2=pd.DataFrame(mae2)
mae2.index = mae2.index + 1
mae2.round(1)

        0
1   191.9
2   215.9
3   304.6
4   361.3
5   197.2
6   189.9
7   352.6
8   201.5
9   391.7
10  198.8

In [44]:
sku_pred=pd.concat([ bm_dict[1][0],bm_dict[2][0],bm_dict[3][0],bm_dict[4][0],bm_dict[5][0],bm_dict[6][0],bm_dict[7][0],bm_dict[8][0],bm_dict[9][0],bm_dict[10][0],
],axis=1) 
sku_pred['Total'] = sku_pred.sum(axis=1)
sku_pred.columns = ['1','2','3','4','5','6','7','8','9','10','Total']
# sku_pred.to_csv('C:\\Users\\lengada1\\NCSU\\prediction_skus.csv')
sku_pred.to_csv('./prediction_skus.csv')

#Each column in this dataframe is the result of 1 of the 4 models
sku_pred

,1,2,3,4,5,6,7,8,9,10,Total
0,5717.818209,6301.653071,9865.725643,10153.291251,5602.367520,7176.216977,10341.561739,6505.311482,6286.657227,5714.657222,73665.260340
1,5510.298604,6512.066582,8556.524297,9330.420316,5765.830248,6921.244257,8090.852354,5673.728950,5216.300293,5539.029505,67116.295407
2,5079.047790,5460.737801,7735.243498,9324.782816,4944.436392,6314.656802,8066.825115,6234.547054,5395.656738,5616.178584,64172.112592
3,4855.066339,4907.510546,8600.125698,9873.201129,5069.712080,6927.614117,8099.700803,5206.362083,5717.865723,5606.811352,64863.969870
4,4848.817431,2609.258951,4299.631053,9935.107310,1835.048437,3765.943200,4538.281949,2510.754229,4943.070801,4541.323872,43827.237233
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.162793,0.000000,0.162793
6,4364.450817,4004.262165,5161.439033,7940.504973,3824.709259,5972.879755,6844.887051,4286.980709,4499.971680,4817.428118,51717.513560
7,4031.301953,3947.826898,5158.895142,7462.205307,3727.959016,5616.944218,6807.330886,4192.341320,4182.101074,4569.376346,49696.282161
8,3944.842050,4649.660839,5124.796593,7195.689326,3997.489338,5247.771443,6372.850673,3895.344289,3797.039307,4551.669918,48777.153776
9,3894.189293,3881.791308,5029.780984,7370.564596,3713.124132,5554.787497,6780.353349,4827.428066,4405.817383,4520.857199,49978.693807
10,4245.188187,3914.496199,5753.720775,7714.182408,4080.789181,5715.102832,7574.897096,3990.749414,5005.067871,4764.123412,52758.317376
11,4983.633181,2532.131341,4116.094082,9505.201476,1778.062763,3646.093786,4818.921211,2425.080131,5124.559082,4502.695003,43432.472054
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.150049,0.000000,0.150049
13,5744.192988,6577.690528,7323.494665,11638.913468,6713.288646,7280.665828,10721.421378,7750.308633,6929.214355,6657.925012,77337.115502
14,5223.222718,5930.723979,8106.196403,9930.915505,5657.912371,7011.165911,9260.975655,6376.083705,5254.321777,5405.284997,68156.803021
15,5362.314867,6181.119323,8337.048882,9310.429981,5723.656718,6988.189735,8047.107928,5940.518205,4965.305176,5270.986395,66126.677210
16,5163.339575,5152.720556,7665.836171,9095.553007,4884.909327,6215.657925,7918.644043,6436.209779,5071.051270,4981.103498,62585.025151
17,5257.620845,4781.019769,7538.104661,9534.606713,4964.245910,6586.677830,8398.576603,5148.807489,5544.236328,5377.504432,63131.400581
18,5379.716069,2459.275038,4088.689027,9704.708709,1711.137049,3568.620140,4415.173737,2419.843968,4992.390137,4662.733382,43402.287256
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.155192,0.000000,0.155192
20,4208.318142,3930.218580,5446.562407,8014.219914,3658.144368,5887.256261,6806.083194,4142.699459,4249.720215,4759.075375,51102.297916
21,3888.350691,3846.602754,5183.907182,7436.751298,3669.813283,5565.052033,6627.681069,4038.122900,4155.095215,4564.614294,48975.990720
22,4108.486962,4484.417434,5163.045673,7559.677321,3926.307934,5685.134009,6225.985349,3921.820116,4019.456787,4400.597774,49494.929360
23,4515.580422,4041.144875,5416.667457,8834.882136,4046.507613,5951.143558,6834.920104,5078.175921,4482.144043,4499.291151,53700.457281
24,5273.183988,4190.369657,6189.838469,9313.044036,4176.387447,6331.763843,8366.987540,4269.046174,5025.639648,4736.435904,57872.696707
25,5711.538596,2832.103219,4612.137004,10422.648988,1799.584141,3951.130302,5680.325548,2466.148751,5172.963379,4463.062521,47111.642450
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.154150,0.000000,0.154150
27,6906.761140,7134.246191,10929.090479,13571.475418,7298.005995,7995.748875,11304.371647,8116.772377,7467.718262,7523.753491,88247.943875
28,6097.723153,6251.397279,9665.616068,11371.915256,5685.897410,7163.679662,9967.504627,6986.286160,6320.436035,5686.595199,75197.050849
29,5936.196322,6573.185582,8697.226316,10430.999778,5646.041251,6959.841448,8315.717458,6040.836447,5635.206543,5353.215461,69588.466607
...,...,...,...,...,...,...,...,...,...,...,...
905,5213.389228,6035.497232,7902.289963,10766.941045,5617.949743,5380.294432,10822.738936,8741.049105,8589.568359,6677.128553,75746.846597
906,5014.941636,4886.428074,7988.196339,10946.982574,5277.449924,5175.286138,11382.761888,6928.788711,8426.716797,5984.225171,72011.777250
907,4685.789839,4120.382805,4410.733220,10041.923116,2067.371890,3076.216048,6953.899715,3766.389294,7389.545410,5283.045256,51795.296593
908,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.109324,0.000000,0.109324
909,4154.652278,4267.333932,6583.588947,9549.101372,4201.345590,4434.751308,10547.962700,6609.404624,7174.892090,5968.697339,63491.730179
910,3857.897641,4103.857473,6274.687520,8255.779199,3924.272999,4177.535324,9569.668532,5484.447680,6676.666016,5512.063899,57836.876281
911,3824.348997,5349.621996,5927.730414,8264.068984,4497.518631,4214.410605,8689.177902,5288.193240,5795.468262,5213.497878,57064.036909
912,3772.552890,4108.950937,6039.235329,8437.337135,4343.472950,4023.589826,9130.450870,5723.362419,6345.237793,5006.810095,56931.000244
913,3924.595310,4459.873069,6377.259414,9022.846871,4471.560799,4318.281577,9451.756835,5687.426422,5741.921387,5446.198215,58901.719897
914,4097.525466,2835.989755,4145.209935,10039.210983,2045.552030,3117.880892,6371.202761,3582.391384,6751.212402,4832.357916,47818.533525
915,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.165512,0.000000,0.165512
916,5324.903650,7330.428833,9599.505054,13243.130272,7616.076761,6735.486192,13563.049386,9226.678566,10658.345703,7090.862208,90388.466626
917,4992.422573,6269.335765,9091.569615,11481.103485,6135.664120,6087.241839,11890.357178,8292.151928,8298.010742,6744.458716,79282.315961
918,4899.171080,6614.322677,8387.929174,10864.947607,5994.740921,5053.072887,10397.356752,7908.693575,7180.874023,6433.046021,73734.154718
919,4479.264016,5320.681697,7859.467803,11059.489289,5316.122152,5073.856439,10183.213753,8451.363564,7870.579102,6144.978505,71759.016319
920,4586.322775,4782.608744,7360.707932,10792.118165,4994.822482,4938.491404,10843.655809,6967.373759,7771.017090,5878.499621,68915.617782
921,4446.348342,2934.398875,4038.903843,9906.893338,2012.750604,3030.731841,6663.896457,3839.242942,6816.066895,5316.732486,49005.965622
922,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.208285,0.000000,0.208285
923,3906.095211,4092.670546,5717.155088,9777.113586,3977.545251,4196.594408,9900.887575,5865.544546,7165.682129,5860.148945,60459.437286
924,3786.133486,4017.805717,5744.375256,8620.478162,3852.728501,4003.904757,9247.850161,5392.265065,6419.331055,5814.462640,56899.334799
925,3776.057640,5017.327983,5609.368631,8601.116822,4104.832942,3873.525437,8520.033795,5224.913094,5683.022949,5406.251321,55816.450614
926,3701.543351,4155.381621,5621.820537,8256.533655,3849.910591,3857.727704,8971.163264,5890.586562,6219.753418,5830.192415,56354.613117
927,3782.033448,4001.507758,5706.721259,8108.298185,4077.971237,3945.741744,9296.166432,5104.082701,5941.702637,5772.662940,55736.888340
928,4206.353433,2679.429521,4132.804131,9580.301873,2027.489989,2983.708094,6570.800437,3381.496860,6914.187012,5014.186982,47490.758332
929,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.167414,0.000000,0.167414
930,5777.072901,6950.855119,9053.594415,11887.306002,7348.909395,6058.022162,14462.460051,9011.301879,10702.714844,7200.924160,88453.160929
931,5231.826641,6019.527033,8550.100507,10547.283171,5916.736549,5122.596222,12411.801620,7410.610427,8402.467773,6305.517632,75918.467578
932,4871.522631,6332.774044,7920.723981,10113.888283,5961.897794,5162.963689,11500.157129,6719.584642,7486.846191,5842.721550,71913.079935
933,4616.802657,5389.226644,7996.062017,10665.673813,5061.086620,5021.390646,11695.859036,7922.431776,7894.009277,5974.443251,72236.985737
934,5083.616595,5374.480205,8217.142946,12010.950993,5000.425974,5325.109168,13403.592858,7637.432271,8110.308105,6551.357368,76714.416483

In [45]:
# The rest of this notebook is just a reference and aid to allow collaborators to... 
# - save models
# - retrive and apply them without retraining. 

def save_model(model, filename):
    """
    Saves the model as a file. 
    - Keras models: saved as .json and .h5 files
    - scikit-learn models: saved as .pickle files
    """
    
    if type(model) is KerasRegressor:
        
        model_json = model.model.to_json()
        with open('{}.json'.format(filename), "w") as json_file:
            json_file.write(model_json)
        model.model.save_weights('{}.h5'.format(filename))        
    else:
        pickle_out = open('{}.pickle'.format(filename), "wb")
        pickle.dump(model, pickle_out)
        pickle_out.close()

    
# Save each SKU's best model to the local directory
for sku in list(df_dict.keys()):

    filename="SKU{}_best_model".format(sku)
    model = bm_dict[sku][1]

    save_model(model, filename)

In [46]:
# Load pickled models
# loaded_model = pickle.load(open('SKU1_best_model.pickle', 'rb'))
# print(type(loaded_model) is RandomForestRegressor)

def load_pickled_model(path_to_model):
    loaded_model = pickle.load(open(path_to_model, 'rb'))
    
    return loaded_model

def load_keras_model(path_to_json, path_to_weights_h5):
    
    # load json and create model
    json_file = open(path_to_json, 'r')
    loaded_model_json = json_file.read()
    json_file.close()
    loaded_model = model_from_json(loaded_model_json)

    # load weights into new model
    loaded_model.load_weights(path_to_weights_h5)
    
    # wrap Sequential obj as a KerasRegressor to allow scikit-learn compatibility
    wrapped_loaded_model = KerasRegressor(build_fn=create_MLP, epochs=400, batch_size=20, verbose=0)
    
    return wrapped_loaded_model

def load_model(filename):
    """
    Loads a given file as a model
    - .pickle files: loaded as scikit-learn models
    - .json and .h5 files: loaded together to create Keras models
    """
    
    loaded_model = None
    
    try:
        loaded_model = load_pickled_model("{}.pickle".format(filename))
        
    except FileNotFoundError:
        loaded_model = load_keras_model("{}.json".format(filename), "{}.h5".format(filename))
        
    return loaded_model
        
    
loaded_models={}
for i in range(1,11):
    model = load_model("SKU{}_best_model".format(i))
    loaded_models[i] = model

# loaded_models[9].compile(loss='mse', optimizer='adam', metrics=['mae','mse'])
# loaded_models[9].evaluate(X[9], y[9], verbose=0)

In [47]:
# Evaluate loaded model on test data
# loaded_model.compile(loss='mse', optimizer='adam', metrics=['mae','mse'])
# score = loaded_model.evaluate(Xs, y, verbose=0)
# print("%s: %.0f"%  (loaded_model.metrics_names[1], score[1]))
# print("%s: %.1f"%  (loaded_model.metrics_names[2], score[2]/10000000))

# Remember cv is cross validation, which is set to 2 earlier. Thus, X is divided into 2 subsets for train/test process
scores=[]
model_family=[]
for sku in range(1,11):
    
    # Identify the model family
    model = loaded_models[sku]
    if isinstance(model, RandomForestRegressor):
        model_family.append('RF')
    else:
        model_family.append('MLP')

    # Obtain the cross validation score
    score = -cross_val_score(model,X[sku],y[sku],cv=cv, scoring ='mean_absolute_error').mean().round(0)
    scores.append(score)        

loaded_model_scores = pd.DataFrame({
    'CV Score':scores,
    'Family':model_family
})
loaded_model_scores.index += 1

loaded_model_scores

    CV Score Family
1      361.0     RF
2      385.0     RF
3      585.0     RF
4      743.0     RF
5      370.0     RF
6      555.0     RF
7      725.0     RF
8      487.0     RF
9      608.0    MLP
10     384.0     RF